.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffebb5;
}

.app-content {
    font-family: "Eve", Courier, monospace;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: RGB(245, 245, 199);
}

.title {
    font-family: "Eve", Courier, monospace;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: left;
    position: relative;
    top: -2em;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;


    padding: 30px;
    border-radius: 20px;

    max-width: 60vw;
    white-space: pre-line;
    color: RGB(245, 245, 199);
}

.displayedReply {
    font-family: "Eve", Courier, monospace;
    letter-spacing: 1px;
    word-spacing: 0px;
    font-weight: normal;
    font-size: 4em;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: left;
    position: relative;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;


    padding: 30px;
    border-radius: 20px;

    max-width: 60vw;
    white-space: pre-line;
    color: RGB(245, 245, 199);
}

.game-over {
    font-family: "Eve", Courier, monospace;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -2em;

    color: RGB(245, 245, 199);
    background-color: rgba(0,0,0, 0.2);

    padding: 30px;
    border-radius: 20px;

    max-width: 60vw;
    white-space: pre-line;
}

.speech-bubble {
    font-family: "Eve", Courier, monospace;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: left;
    position: relative;
    top: -2em;

    color:black;
    background-color: rgba(163, 147, 95, 0.6);

    padding: 30px;
    border-radius: 20px;
    border: black dashed 5px;

    max-width: 60vw;
    white-space: pre-line;
}

.danger {
    font-family: "Eve", Courier, monospace;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: -2em;

    color: gray;
    text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;

    padding: 30px;


    max-width: 60vw;
    white-space: pre-line;
}

.question {
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.App-link {
    color: #61dafb;
}

.background-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.blinking{
    animation:blinkingText 3s infinite;

    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.blinking-start-text{
    position: absolute;
    bottom: 7em;
    color: RGB(245, 245, 199);

    animation:blinkingText 3s infinite;

    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
@keyframes blinkingText{
    0%{     color: RGB(245, 245, 199);    }
    50%{
        color: transparent;
        text-shadow: none;

    }

}

.button:hover {
    cursor: pointer;
}
